@media screen and (max-width: 1200px) {
  .block-3 {
    .consist {
      padding: 0 20px;
    }
  }
  .block-4 {
    padding: 50px 20px;
    .flex-wrapper{
      > div {
        .header-product {
          h2 {
            width: 70%;
          }
        }
      }
    }
  }
  .block-5 {
    background-position: -646px -81px;
    .doctor-advice {
      max-width: 50%;
    }
  }
  .block-8 {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 1170px) {
  .block-5 .doctor-advice {
    width: 50%;
    margin-right: 20px;
  }
}
@media screen and (max-width: 1100px) {
  //.block-1 {
  //  header {
  //    .callback {
  //      display: none;
  //    }
  //  }
  //}

  .block-1 {
    //background: #e9f3f6;
    position: relative;
    padding-left: 20px;
    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 52px;
      bottom:0;
      left:0;
      background: url(../images/wave-bottom.png);
    }
    header .menu ul li {
      margin-left: 0;
    }
    .callback {
      display: none;
    }
    //header {
    //  //display: block;
    //  text-align: center;
    //  .logo {
    //    order: 0;
    //  }
    //  ul {
    //    justify-content: center;
    //    margin-top: 20px;
    //    order: 2;
    //  }
    //  .callback {
    //    order: 1;
    //    width: 200px;
    //    margin: 20px auto 0;
    //    padding-left: 33px;
    //    &:before {
    //      left:0;
    //    }
    //  }
    //}
    .block1-content {
      &:before {
        display: none;
      }
      .right-block {
        .about-product {
          max-width: 360px;
          ul{
            li {
              font-size: 16px;
            }
          }
          .prod {
            left: -247px;
          }
        }
      }
      //.right-block {
      //  float: none;
      //  margin: 40px auto 0;
      //  max-width: 685px;
      //  &:after {
      //    display: none;
      //  }
      //  &:before {
      //    display: none;
      //  }
      //  .about-product .prod {
      //    left: 271px;
      //    top: 262px;
      //    width: 148px;
      //    height: 223px;
      //    background-size: contain;
      //    background-repeat: no-repeat;
      //  }
      //}
    }
  }
  .form form .prices .current-price:after {
    border-left: 138px solid transparent;
  }
  .block-2 {
    padding-bottom: 20px;
    .container {
      .about-infection {
        margin: auto;
        div {
          margin-top: 20px!important;
          padding: 20px;
          ul {
            li {
              font-size: 15px;
            }
          }
          p {
            font-size: 16px;
            font-weight: 600;
          }
        }
        .center {
          width: 360px;
          img {
            left: -143px;
          }
        }
      }
    }

  }
  //.block-2 {
  //  .about-infection {
  //    max-width: 830px;
  //    margin: auto;
  //    .center {
  //      display: none;
  //    }
  //  }
  //}
  .block-3 {
    .container {
      .consist {
        div {
        > p:first-of-type {
            line-height: 26px;
            font-size: 18px;
          span {
            height: 1px;
            margin-top: 0;
          }
          }
          span {
            font-size: 16px;
          }
          ul {
            li {
              font-size: 15px;
            }
          }
        }
        .left {
          margin-right: 40px;
        }
        .center {
          img{
            margin-left: 0;
          }
        }
       }
    }
  }
  //.block-3 {
  //  .consist {
  //    .center {
  //      display: none;
  //    }
  //  }
  //}
  .block-4 {
    .flex-wrapper {
      > div {
        .info {
          font-size: 15px;
          line-height: 20px;
        }
        .header-product {
          h2 {
            width: 100%;
            padding-left: 0px;
            margin-top: 30px;
            display: block;
          }
        }
      }
      .another-product {
        padding-right: 20px;
      }
    }
  }
  //.block-4 {
  //  .flex-wrapper {
  //    > div {
  //      .info {
  //        font-size: 15px;
  //        line-height: 20px;
  //      }
  //      .header-product {
  //        h2 {
  //          width: 100%;
  //          padding-left: 0px;
  //          margin-top: 30px;
  //          display: block;
  //        }
  //      }
  //    }
  //  }
  //}

  .block-6 {
    padding: 30px 35px 50px;
    .slider-comments .slide .author .author-name {

      font-size: 14px;
    }
  }


  .block-9 {
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    .flex-wrapper {
      .left .check-form button {
        margin-top: 20px;
      }
      .right {
        img {
          height: auto;
        }
      }
    }
  }

  footer {
    padding-top: 100px;
  }

  //footer {
  //  padding: 50px 20px;
  //}
}
@media screen and (max-width: 1000px) {
  .block-5 {
    padding-bottom: 480px;
    background-position: -746px 536px;
    .tale-container {
      &:after {
        display: none;
      }
      .tale {
        display: none;
      }

    }
    .doctor-advice {
      max-width: 100%!important;
      width: 100%;
      padding: 20px;
      padding-left: 40px;
      margin-top: 0!important;
      &:before {
        position: absolute;
        content: "";
        width: 297px;
        height: 435px;
        bottom: -440px;
        left: 0;
        right: 0;
        margin: auto;
        background: url(../images/doctor.png);
        background-size: contain;
        background-repeat: no-repeat;
      }

    }
  }
  .block-7 {
    .how-work {
      flex-direction: column;
      div {
        max-width: 685px;
        margin: auto;
      }
      .how-use:before {
        position: absolute;
        content: "";
        width: 253px;
        height: 407px;
        left: 256px;
        top: -400px;
        background: url(../images/product-shadow.png) no-repeat;
      }
    }
  }
  .block-8 {
    padding: 50px 20px;
    .container {
      .flex-wrapper {
        flex-direction: column;
        .img {
          order: 2;
          margin-top: 20px;
        }
        p {
          margin-top: 20px;
          order: 1;
          max-width: 80%;
        }

      }
    }
  }
  .block-10 {
    padding: 20px 0 50px;
    .container {
      .order {
        flex-direction: column;
        align-items: center;
        .arrows {
          transform: rotate(90deg);
          margin: 40px 0;
          .arrow {
            margin-top: 0!important;
          }
        }

      }
    }
  }
}


@media screen and (max-width: 769px) {
  .block-1 {
    header {
      .menu {
        ul {
          li {
            a {
              font-size: 14px;
            }

          }
        }
      }
    }
  }
  footer {
    font-size: 12px;
    line-height: 18px;
  }
}
@media screen and (max-width: 720px) {

}
  @media screen and (max-width: 695px) {
    h1 {
      padding: 0 20px;
    }
    h2 {
      padding-left: 20px;
    }
    .block-1 {
      padding-bottom: 0;
      header {
        display: block;
        .logo {
          width: 290px;
          margin: auto;
        }
        .menu {
          ul {
            width: 140px;
            margin: 20px auto;
            display: block;
            text-align: left;
            li {
              font-size: 12px;
              display: block;
              padding: 10px 0;
              &:not(:first-of-type) {
                margin: 0;
              }
            }
            li:not(:first-of-type) {
              margin-left: 30px;
            }
          }
        }
      }
      .block1-content {
        .right-block {
          h1 {
            font-size: 28px;
            line-height: 28px;
          }
          h2 {
            max-width: 100%;
          }
          > .flex-wrapper {
            display: block;
            .about-product {
              margin: 20px auto;
              ul {
                margin-bottom: 340px;
              }
              .prod {
                top: 291px;
                left: 0;
                right: 0;
                margin: auto;
                width: 171px;
                height: 259px;
              }
            }
            .form {
              margin: 40px auto 0;
            }
          }
        }
      }
    }
    .block-2 {
      .container {
        .about-infection  {
          flex-direction: column;
          .left {
            margin: auto;
            li {
              padding-left: 40px;
              padding-right: 0;
              text-align: left;
              &:before {
                left: -3px;
              }
            }
          }
          .right {
            margin: auto;
          }
          div {
            margin-top: 0px!important;
              p {
              text-align: left;
            }
          }
        }
      }

    }
    //.block-2 {
    //  padding: 20px 20px 75px;
    //}
    //.block-3 {
    //  .container {
    //    .consist {
    //      justify-content: space-between;
    //      .left, .right {
    //        max-width: 45%;
    //      }
    //    }
    //  }
    //}
    .block-3 {
      .container {
        h1 {
          margin-top: 30px;
        }
        .consist {
          margin-top: 0;
          flex-direction: column;
          div {
            margin-top: 20px;
            width: 100%;
            ul {
              margin-top: 20px;
              li {
                margin-right: 0px;
                &:after {
                  top: 15px;
                  left: -15px;
                }
              }
            }

            p {
              text-align: center;
            }
            span {
              text-align: center;
            }
          }
        }
      }
    }
    .block-4 {
      padding-top: 30px;
      .flex-wrapper {
        flex-direction: column;
        div {
          width: 100%;
          .info {min-height: auto}
          .header-product {
            text-align: center;

          }
        }
      }
    }
    .block-5 {
      padding-top: 85px;
      .doctor-advice {
        margin-top: 0;
        padding-top:0px;
        p {
          padding-top: 20px!important;
        }
      }
    }
    .block-6 {
      .slider-comments {
        margin-top: 30px;
      }
    }
    .block-8 {
      .container{
        > p {
          font-size: 14px;
          font-weight: bold;
          padding: 19px 0 19px 40px;
          &:before {
            left: -21px;
            top: -5px;
          }
        }
      }
    }
    .block-9 {
      margin-bottom: 0;
        .flex-wrapper {
          .right {
            display: none;
          }
        }
    }
    footer {
      padding: 30px 20px;
      .flex-wrapper {
        .right {
          display: none;
        }
        .center {
          text-align: right;
        }
      }
    }
    .ever-popup-build {
      display: none;
    }

  }

  @media screen and (max-width: 550px) {
    .block-1 {
      header {
        flex-direction: column;
      }
      .menu {
        margin-top: 20px;
      }
      .block1-content {
        .right-block {
          h1 {
            font-size: 30px;
          }
          h2 {
            font-size: 18px;
            max-width: 300px;
            line-height: 21px;
            margin-top: 20px;
          }
        }
      }
    }
    .block-2 {
      .block-2-content {
        h3 {
          font-size: 33px;
          &:after {
            display: none;
          }
        }
        .pseudo-elements {
          .before {
            padding-right: 10px;
          }
          .after {
            padding-left: 10px;
            &:before {
              left: 10px;
            }
          }
        }
      }
    }
    .block-2 {
      &:before {
        background: url(../images/backgr-1.png) no-repeat;
        background-size: cover;
      }
      .container {
        .about-infection {
          padding-bottom: 0;
          flex-direction: column;
          div {

          }
          .center {
            display: none;
          }
          .right, .left {
            max-width: 320px;
            width: 100%;
            margin: 20px auto;
          }
        }
      }
    }
    .block-5 {
      background-position: -739px 737px;
    }

    .block-1 {
      .block1-content {
        .right-block {
          .about-product {
            p {
              font-size: 19px;
              line-height: 23px;
            }
          }
        }
      }
    }
    .block-2 {
      padding-top: 50px;
      .container {
        > p {
          margin-top: 0;
        }
        .about-infection {
          div {
            padding-top: 0;
          }
        }
      }
    }
    .block-6 .slider-comments .slide .author {
      display: block;
      margin: auto;
      width: auto;
    }
    .block-6 .slider-comments .slide .comment {
      padding-left: 0;
      width: 100%;
      padding-top: 20px;
    }
    .block-7 {
      padding: 86px 0 82px;
      .how-work {
        margin-top: 20px;
        .how-use:before {
          display: none;
        }
      }

    }
    .block-8 {
      .container {
        > p {
          font-size: 14px;
          padding-left: 70px;
          padding-right: 10px;
          &:before {
            left: 2px;
            top: 4px;
          }
        }
      }
    }
    .block-8 .container .flex-wrapper p {
      font-size: 16px;
      line-height: 24px;
    }
    .block-9 {
      padding-top: 85px;
      .flex-wrapper .left p {
        padding-left: 10px;
        font-size: 16px;
      }
    }
    .block-10 .container > p {
      padding:0 10px;
    }
    .block-1 .block1-content .right-block {
      margin-top: 0px;
    }


    h1 {
      font-size: 24px!important;
      line-height: 30px!important;
      max-width: 400px;
    }
    .block-1 {
      .block1-content{
        .right-block {
          > .flex-wrapper {
              .form {
                margin-top: 20px;
              }
            .about-product {
              ul {
                margin-bottom: 0;
              }
              .prod {
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                margin-top: 20px;
                background-position: center center;
                img {
                  display: block;
                  width: 100%;
                }
              }
            }
          }
        }
      }

    }

    .form form .prices .old-price .price .x_price_previous, .form form .prices .old-price .price .x_price_current, .form form .prices .current-price .price .x_price_previous, .form form .prices .current-price .price .x_price_current {
      font-size: 30px;
    }
    .form form .prices .old-price > span:first-of-type, .form form .prices .current-price > span:first-of-type , .form form > span{
      font-size: 12px;
    }
    .form form > span:after {
      top:0px;
    }
    .form .discount {
      right: 0;
    }
    .block-2 {
      .vantage {
        .circle-vantage {
          span {
            font-size: 14px;
          }
        }
      }
      .block-2-content {
        &:after {
          display: none;
        }
        .pseudo-elements {
          flex-direction: column;
          div {
            padding-left: 10px;
            padding-right: 10px;

          }
          .before {
            border: none;
            padding-bottom: 20px;
          }
          .after {
            padding-top: 95px;
            margin-top: 20px;
            border-top: 1px solid #e5e5e5;
            &:before {
              top:20px;
            }
          }
        }
      }
    }
    h3 {
      font-size: 24px!important;
      line-height: 26px!important;
    }

    .block-2 .block-2-content .pseudo-elements .before, .block-2 .block-2-content .pseudo-elements .after {
      margin: auto;
    }
    .block-6 .slider-comments .slide {
      padding: 20px 10px 10px 10px;
    }
    .block-6 .comment:after {
      width: 95%;
    }
    .block-6 .more {
      margin-top: 17px;
    }
    .block-6 .slider-comments .slide .comment p {
      font-size: 14px;
    }

    footer .flex-wrapper {
      flex-direction: column;
      .center {
        width: 100%;
        text-align: center;
      }
      .left {
        margin-top: 20px;
        width: 100%;
        text-align: center;
        .everad-logo {
          img {
            margin: 0!important;
          }
        }
        .copyright {
          span{
            display: none;
          }
        }

      }

    }
  }

  * {
    outline: none;
  }


